header {
    margin: 1% 3% 0px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}

header h1 {
    font-family: Anurati;
    font-size: 310%;
    letter-spacing: 10px;
    margin-left: 4%;
}

li {
    display: inline-block;
    margin: 10px;
}

.button-content {
    display: block; 
    width: 100%; 
    height: 100%; 
    text-decoration: none; 
    font-family: 'Josefin Sans', "Work Sans", serif;
    font-size: 16px;
    color: var(--primary-color);
}

.cart {
    position: relative;
    overflow: hidden;
    height: 2.6rem;
    background: var(--background-color);
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.cart:hover {
    transform: scale(1.09);
}   

.nav-list {
    margin-right: 3%;
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    background: var(--background-color);
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 3rem;
}

.button:hover {
    background:#5a595922 ;
    border-color: var(--quinto-color);
}

.button-content.active {
    color: var(--segundary-color);}
