@import "tailwindcss";

.bg-white {
    background-color: var( --background-color);
    font-family: 'Josefin Sans', "Work Sans", serif;
}

.lg:py-56{
    padding-block:0;
}
.text-5xl{
    color: white;
    font-size: 360%;
}
.text-lg{
    color: rgb(166, 168, 170);
}
.relative{
    color: rgb(166, 168, 170);
}
.mt-10  a{
    color: white;
}