.custom-card {
  border-radius: 2rem;
  background: var(--background-color);
  box-shadow: 5px 5px 10px var(--primary-color),
    -5px -5px 10px var(--segundary-color);
  height: 430px;
  width: 100%;
  max-width: 300px;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  margin-bottom: 10%;
  margin-top: 10%;
}

.custom-img-item {
  height: 100%;
  border-radius: 2rem;
}

.custom-card-img {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.custom-card-text-item {
  height: 55px;
  width: 100%;
}

.custom-card-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Josefin Sans', Courier, monospace;
  text-align: center;
  color: var(--segundary-color);
}

.custom-text {
  font-family: 'Josefin Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--segundary-color);
  text-align: center;
}

.custom-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

.custom-card-price {
  font-family: 'Josefin Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 300px;
  color: var(--font-color);
  margin-left: 10%;
}

.custom-card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--segundary-color);
}

.custom-card-price:hover {
  transform: scale(1.05)
}

.custom-card-img:hover {
  transform: translateY(-3px);
}

.custom-btn {
  border: none;
  width: 55%;
  height: 160%;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--background-color);
  cursor: default;
  transition: all 300ms ease-in-out;
  border: 1px solid var(--segundary-color);
}

.custom-btn-text {
  font-family: 'Josefin Sans', 'Lucida Sans Unicode', sans-serif;
  font-weight: normal;
  color: #b7b3b3;
  font-size: medium;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-btn:hover {
  background: linear-gradient(0deg, #3e3354, var(--tercery-color));
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    0px 0px 20px 0px var(--cuarto-color);
  transform: translateY(-2px);
  border: 0px;
  cursor: pointer;
  transition: all 2s ease;
}

.custom-btn:hover .custom-btn-text {
  color: white;
}

.custom-btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 #0000;
}

.custom-img {
  border-radius: 20px;
}

.custom-card:hover {
  transform: translateY(-2px);
  box-shadow: 7px 7px 14px var(--tercery-color),
    -7px -7px 14px var(--segundary-color);
  transition: all 250ms ease-in-out;
}

@media (max-width: 1800px) {
  .custom-card {
    height: 390px;
    width: 300px;
    padding: 20px;
    margin-left: 5%;
  }

  .custom-btn {
    width: 55%;
    height: 180%;
  }

  .custom-btn-text {
    font-size: 100%;
  }

  .custom-card-footer {
    margin-top: 2%;
  }
}
 